@model TaskAuthenticationAuthorization.Models.Customer
@{
    ViewData["Title"] = "MyDiscount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="display-4">You are the @Model.Discount.ToString() customer</h4>
<h5 class="display-5">Your discount is @ViewBag.Discount %</h5>